[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-bin=/var/log/mariadb/mariadb-bin.log
sync-binlog=1
server-id={{ mysql_db_id }}
replicate_wild_do_table=test_repl.%
relay-log=/var/log/mariadb/mariadb-relay-bin.log
skip-slave-start
log-bin-index = /var/log/mariadb/mariadb-relay-bin.index
log_slave_updates=1
sync_master_info=1
sync_relay_log=1
sync_relay_log_info=1
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
character-set-server=utf8

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

